################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WPFeyes/obj
/.vs/WPFeyes/v15
/.vs/WpfEyes2/v15
